<div class="row">
  <div class="col-md-4 col-md-offset-4 text-center">
    <h2>我的帳戶</h2>
  </div>
</div>

<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <div class="form-inputs">
    <div class="row">
      <div class="col-md-4 col-md-offset-4 well">
        <div class="text-center">
          <%= link_to users_edit_avatar_path, remote: true do %>
            <%= image_tag current_user.avatar_url(:fist), class: "user-edit-avatar shadow-z-1" %>
          <% end %>
          <h5><%= current_user.email %></h4>
        </div>
        <%= f.input :name,  label: false, required: true, autofocus: true, placeholder: current_user.name, input_html:{class: 'user-edit-name text-center'} %>

        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
          <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
        <% end %>

        <%= f.input :password, label: false, autocomplete: "off", required: false,
                    placeholder: '※ 欲變更密碼時填入新密碼' %>
        <%= f.input :password_confirmation, label: false, required: false,
                    placeholder: '※ 變更密碼時請再輸入一次新密碼' %>
        <%= f.input :current_password, label: false, required: true,
                    placeholder: '目前密碼' %>
      </div>
    </div>
  </div>

  <div class="form-actions">
    <div class="row">
      <div class="col-md-4 col-md-offset-4 text-right">
        <%= f.button :submit, "Update", class: "btn btn-primary" %>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 col-md-offset-4 text-right">
        <p>不爽用了？ <%= link_to "Cancel my account", registration_path(resource_name), data: { confirm: "不要鬧脾氣啦！別走別走嘛！" }, method: :delete %></p>
      </div>
    </div>
  </div>
  <%= render "shared/modal" %>
<% end %>
