= simple_form_for @job do |f|
  = f.error_notification

  #job-form-inputs.form-inputs
    .row
      %nav.col-md-3
        %div#job-form-slide
          = f.input :title,       label: false, placeholder: @title,    input_html:{class: 'text-center'}
          = f.input :url,         label: false, placeholder: @url,      input_html:{class: 'text-center'}
          = f.input :pay,         label: false, placeholder: @pay,      input_html:{class: 'text-center'}
          = f.input :company,     label: false, placeholder: @company,  input_html:{class: 'text-center'}
          = f.hidden_field :accepted, value: 'wait'
          .city-group
            .col-md-6
              = f.input :city,  label: false, collection: TaiwanCity.list, input_html:{class: 'city-select city-city'}, prompt: @city
            .col-md-6
              = f.input :district,  label: false, collection: TaiwanCity.list(@job.district), input_html:{class: 'city-select city-district'},  prompt: @district

      .col-md-8
        .well
          = f.input :description, label: false, as: :pagedown, input_html: { preview: true, rows: 10 }

  #job-form-actions.form-actions
    .row
      .col-md-2.col-md-offset-3
        - if @job.id.nil?
          = link_to '算了...', jobs_path, class: "btn btn-default"
        - else
          = link_to '刪除貼文 (或已徵到人)', @job, data: {confirm: "真的不徵了嗎？"}, method: :delete, class: "btn btn-flat btn-danger"
      .col-md-6.text-right
        - if !@job.id.nil?
          = link_to '不改', :back, class: "btn btn-default"
        = f.button :submit, @button, class: 'btn btn-primary shadow-z-2'