.fb-root
:javascript
  $(function() {
    $('.wmd-output').each(function(i) {
      var content, converter;
      converter = new Markdown.Converter;
      content = $(this).html();
      $(this).html(converter.makeHtml(content));
    });
  });
  
.job-show-container
  .row.job-head-section
    .col-md-7.col-md-offset-1
      %h1.job-title= @job.title
      .job-byline
        %span
          by
          = link_to @job.user do
            %span
              = image_tag @job.user.avatar_url(:pinkie), class: "user-edit-avatar-pinkie shadow-z-1"
              = @job.user.name
        %span.job-byline-time
          = "‧"
          %i.fa.fa-clock-o
          = @job.updated_at.strftime("%b %d, %a, %Y")
          %sanp.badge
            = time_ago_in_words(@job.updated_at)
        - if @job.accepted == 'pass'
          %span
            = "‧"
            .fb-share-button{data: {href: "#{request.original_url}", layout: "button"}}

    .col-md-3.text-right.job-edit-button
      = link_to '', edit_job_path(@job.id), class: 'btn btn-primary btn-fab btn-raised fa fa-pencil' if @job.user == current_user

  .row.job-body-section
    .col-md-7.col-md-offset-1
      .job-body-description
        %pre.shadow-z-1.wmd-output
          :preserve
            #{sanitize(@job.description)}
    .col-md-3
      .job-body-information
        .list-group
          .list-group-item
            .list-group-content{data:{toggle:"tooltip", placement:"left", container: 'body'}, title: '時薪'}
              %i.fa.fa-2x.fa-usd
                %sapn.list-body-information-price= @job.pay
          .list-group-item
            .list-group-content{data:{toggle:"tooltip", placement:"left", container: 'body'}, title: '徵人單位'}
              %i.fa.fa-building
                %span= @job.company
          .list-group-item
            .list-group-content{data:{toggle:"tooltip", placement:"left", container: 'body'}, title: '僱主網站'}
              %i.fa.fa-globe
                %span
                  - if @job.url.blank?
                    = "暫無"
                  - else
                    = link_to "#{@job.url}", "#{@job.url}", target: "_blank", rel: "nofollow"
          .list-group-item
            .list-group-content{data:{toggle:"tooltip", placement:"left", container: 'body'}, title: '工作地點'}
              %i.fa.fa-map-marker
                %span= "#{@city}#{@district}"
            
    .col-md-7.col-md-offset-1
      .job-body-description
        .panel.panel-danger
          .panel-heading.text-center
            %h4 oPartTime 提醒您
          .panel-body
            .ul
              .li ◎ 尋求職務時，務必留意工資與所需條件是否符合現實及市場價格。
              .li ◎ 切勿提供個人重要資料，如身分證、銀行郵局帳號、信用卡、密碼等。
              .li ◎ 若遇被要求繳費、購買商品或服務等，請勿進行並撥打反詐騙專線165聯繫警方。


