.job-index-container
  .row
    .col-xs-12.hidden-md.hidden-lg
      .panel
        .job-index-city-tab.clearfix
          %ul.nav.nav-pills.col-xs-12.col-sm-12
            = btn_group_link_to "ALL", root_path, ""
          %ul.nav.nav-pills.col-xs-12.col-sm-12
            - @cities.each do |city|
              = btn_group_link_to city[0], "/#{city[1]}", city[1]
    .col-xs-12.col-md-8
      = render 'jobs/jobslist/jobslist'
    .col-md-4.hidden-xs.hidden-sm
      .panel
        .job-index-city-map
          = render 'map_svg'
        .job-index-city-tab.clearfix
          %ul.nav.nav-pills.col-sm-12
            = btn_group_link_to "ALL", root_path, ""
          %ul.nav.nav-pills.col-sm-12
            - @cities.each do |city|
              = btn_group_link_to city[0], "/#{city[1]}", city[1]

