.job-index-container
  .col-xs-12.col-md-8
    = render 'jobs/jobslist/jobslist'
  .col-xs-12.col-md-4
    .panel
      .job-index-city-map.hidden-xs.hidden-sm
        = render 'map_svg'
      .job-index-city-tab.clearfix
        %ul.nav.nav-pills.col-xs-12.col-sm-12
          = btn_group_link_to "ALL", root_path
          - @cities.each do |city|
            = btn_group_link_to city[0], "/#{city[1]}"

