.job-index-title-image
  = image_tag 'CityAnd101.jpg', id: 'job-index-title-image'
.job-index-container
  - @jobs.each do |job|
    .col-md-3
      #job-index-box
        = link_to job.title, job, target: "_blank", class: "list-group-item", id: "job-index-box-heading"
        = link_to job, target: "_blank", class: "list-group-item", id: "job-index-box-body" do
          %i.glyphicon.glyphicon-usd
            %sapn#job-index-box-price= job.pay
            %span /hr
        = link_to job, target: "_blank", class: "list-group-item", id: "job-index-box-footer" do
          %i.glyphicon.glyphicon-map-marker
            %span= get_location(job)
        %span#job-index-box-favorite= link_to '', '#', class: 'btn btn-primary btn-fab btn-raised mdi-action-favorite'
