.job-index-container
  .col-md-1
    = link_to '#list', aria: {controls: "list"}, data: {toggle: "tab"}, class: "btn btn-default" do
      %i.glyphicon.glyphicon-th-list
    = link_to '#grid', aria: {controls: "grid"}, data: {toggle: "tab"}, class: "btn btn-default" do
      %i.glyphicon.glyphicon-th-large
  .col-md-7.tab-content
    #list.job-index-list.tab-pane.fade.in.active
      = render 'jobslist'
    #grid.job-index-list.tab-pane.fade
      = render 'jobslist_origin'
  .col-md-4
    .job-index-map
      .well.text-center
        %div#t-map
        
= render 'shared/modal'

