#page-header
  .row
    .col-md-4.col-md-offset-4.text-center
      %h2= '找頭路'
      
.row
  .col-xs-12.col-md-4
    #oPartTime-accordion.panel-group{"aria-multiselectable" => "true"}
      .panel
        #headingMap.panel-heading
          %h4.panel-title
            = link_to "台灣地圖找找看", "#collapseMap", data: {toggle: "collapse", parent: "#oPartTime-accordion"}, aria: {expanded: "true", controls: "collapseMap"}
        #collapseMap.panel-collapse.collapse{"aria-labelledby" => "headingMap", class: ("in" if !@at_district)}
          .panel-body
            .job-index-city-map
              = render 'map_svg'
        
      .panel
        #headingCity.panel-heading
          %h4.panel-title
            = link_to "鄉鎮市區找找看", "#collapseCity", data: {toggle: "collapse", parent: "#oPartTime-accordion"}, aria: {expanded: "true", controls: "collapseCity"}
        #collapseCity.panel-collapse.collapse{"aria-labelledby" => "headingCity", class: ("in" if @at_district)}
          .panel-body
            .job-index-city-tab.clearfix
              %ul.nav.nav-pills
                = city_tab_link_to "ALL", jobs_path, ""
              %ul.nav.nav-pills
                - @cities.each do |city|
                  = city_tab_link_to city[0], "", city[1]
      
            .tab-content
              - @cities.each do |city|
                .tab-pane.fade{id: "#{city[1]}"}
                  .job-index-district-tab.clearfix
                    %ul.nav.nav-pills
                      - get_districts(city[1]).each do |district|
                        = district_tab_link_to district[0], city[1], district[1]
                  
  .col-xs-12.col-md-8
    = render 'jobs/jobslist/jobslist'
    