%footer.footer.hidden-xs
  .container
    .footer-inner
      %ul
        %li
          %span
            = link_to root_path do
              %span= "Copyright"
              %i.fa.fa-copyright
              %span
                = "2015 "
                %strong= "oPartTime"
        %li
          %span= "‧"
        %li
          %span
            = link_to "關於我們", "#"
        %li
          %span= "‧"
        %li
          %span
            = link_to "隱私條款", "#"
        %li
          %span= "‧"
        %li
          %span
            = link_to "使用條款", "#"
        %li
          %span= "‧"
        %li
          %span
            = link_to "#" do
              %i.fa.fa-facebook-square.fa-lg