%nav.navbar.navbar-default.shadow-z-1{role:"navigation"}
  .container
    .navbar-header{"style"=>"margin-left: 20px;"}
      = link_to root_path, class: "navbar-brand" do
        %strong oPartTime
      %button.navbar-toggle{"data-target" => "#oPartTime-navbar-collapse", "data-toggle" => "collapse", type: "button"}
        %span.sr-only switch guide
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar

    #oPartTime-navbar-collapse.collapse.navbar-collapse
      %ul.nav.navbar-nav
        %li
          = link_to '找頭路', jobs_path
        %li#hire_li.shadow-z-2
          = link_to new_job_path do
            %strong= '我要徵人才'
      %ul.nav.navbar-nav.navbar-right
        %li
          = link_to user_favorite_path do
            %i.glyphicon.glyphicon-heart
            那些年喜歡的工作
        %li.dropdown
          - if user_signed_in?
            %a.dropdown-toggle{"data-toggle" => "dropdown", href: '#'}
              %span
                哈囉！
                = image_tag current_user.avatar_url(:pinkie), class: "user-edit-avatar-pinkie shadow-z-1"
                = current_user.name
                %b.caret
            %ul.dropdown-menu
              %li
                = link_to current_user do
                  %i.glyphicon.glyphicon-user
                  我的資料
              %li
                = link_to destroy_user_session_path, method: :delete, rel: "nofollow" do
                  %i.glyphicon.glyphicon-log-out
                  登出
          - else
            %a.dropdown-toggle{"data-toggle" => "dropdown", href: '#'}
              = "嗨嗨！#{@name}"
              %b.caret
            %ul.dropdown-menu
              %li
                = link_to new_user_registration_path  do
                  %i.glyphicon.glyphicon-plus
                  我要加入！
              %li
                = link_to new_user_session_path do
                  %i.glyphicon.glyphicon-log-in
                  登入
