%nav.navbar.navbar-default{role:"navigation"}
  .container-fluid
    .navbar-header
      = link_to root_path, class: "navbar-brand" do
        %strong oPartTime
      %button.navbar-toggle{"data-target" => "oPartTime-navbar-collapse", "data-toggle" => "collapse", type: "button"}
        %span.sr-only switch guide
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
    #oPartTime-navbar-collapse.collapse.navbar-collapse
      %ul.nav.navbar-nav
        %li
          = link_to '找頭路', jobs_path
        %li
          = link_to '誠徵人才', new_job_path
      %ul.nav.navbar-nav.navbar-right
        %li.dropdown
          - if user_signed_in?
            %a.dropdown-toggle{"data-toggle" => "dropdown", href: '#'}
              哈囉！
              = current_user.name
              %b.caret
            %ul.dropdown-menu
              %li
                = link_to edit_user_registration_path  do
                  %i.glyphicon.glyphicon-user
                  我的資料
              %li
                = link_to destroy_user_session_path, method: :delete, rel: "nofollow" do
                  %i.glyphicon.glyphicon-log-out
                  登出
          - else
            %a.dropdown-toggle{"data-toggle" => "dropdown", href: '#'}
              嗨嗨！
              = ["頹廢浪人","絕世美女","武林高手","丐幫成員","神奇寶貝","文學青年"].sample
              %b.caret
            %ul.dropdown-menu
              %li
                = link_to new_user_registration_path  do
                  %i.glyphicon.glyphicon-plus
                  我要加入！
              %li
                = link_to new_user_session_path do
                  %i.glyphicon.glyphicon-log-in
                  登入
