<div id="page-header">
  <div class="row">
    <div class="col-md-4 col-md-offset-4 text-center">
      <h1>oPartTime 歡迎您</h1>
    </div>
  </div>
</div>

<%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="form-inputs">
    <div class="row">
      <div class="col-xs-10 col-xs-offset-1 col-md-4 col-md-offset-4 well">
        <%= f.input :email, label: false, required: false, autofocus: true, placeholder: '登入帳號 (Email)' %>
        <%= f.input :password, label: false, required: false, placeholder: '密碼' %>
        <div class="text-right">
          <%= f.input_field :remember_me, inline_label: '記住我' ,as: :boolean if devise_mapping.rememberable? %>
        </div>
      </div>
    </div>
  </div>

  <div class="form-actions">
    <div class="row">
      <div class="col-xs-10 col-xs-offset-1 col-md-4 col-md-offset-4 text-right">
        <div><%= f.button :submit, "登入", class: 'btn btn-primary' %></div>
        <div><%= render "devise/shared/links" %></div>
      </div>
    </div>
  </div>
<% end %>
