<div class="row">
  <div class="col-md-4 col-md-offset-5">
    <h2>我要登入</h2>
  </div>
</div>

<%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="form-inputs">
    <div class="row">
      <div class="col-md-4 col-md-offset-4 well">
        <%= f.input :email, label: false, required: false, autofocus: true, placeholder: '登入帳號 (Email)' %>
        <%= f.input :password, label: false, required: false, placeholder: '密碼' %>
        <div class="text-right">
          <%= f.input_field :remember_me, inline_label: '記住我' ,as: :boolean if devise_mapping.rememberable? %>
        </div>
      </div>
    </div>
  </div>

  <div class="form-actions">
    <div class="row">
      <div class="col-md-4 col-md-offset-4 text-right">
        <%= f.button :submit, "Log in", class: 'btn btn-primary' %>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 col-md-offset-4 text-right">
        <%= render "devise/shared/links" %>
      </div>
    </div>
  </div>
<% end %>
