= render 'shared/modal'

-if !@user.nil? && @user == current_user
  .job-takenoff-btn-group
    = link_to '公開', @user, class: 'btn btn-sm ' + (params[:takenoff] ? 'btn-default' : 'btn-primary')
    = link_to '已下架', '?takenoff=show', class: 'btn btn-sm ' + (params[:takenoff] ? 'btn-primary' : 'btn-default')
      
- if @jobs.empty?
  - if request.path == "/user/favorite"
    #job-index-empty.well.text-center.col-md-12
      %span.empty-block
        %span.fa-stack
          %i.fa.fa-circle.fa-stack-2x
          %i.fa.fa-heart.fa-stack-1x.fa-empty
        %span.text= "加入幾個有興趣的打工吧！"
  - else
    #job-index-empty.well.text-center.col-md-12
      %span.empty-block
        %i.fa.fa-2x.fa-exclamation-circle
        %span.text= params[:takenoff] ? "沒有已下架貼文！" : "目前沒有兼職工作喲！"
- else
  .page
    #list
      %ul#job-index-list.list-group{class: ('panel' if !params[:takenoff])}
        = render partial: 'jobs/jobslist/list', collection: @jobs
      #loading.text-center
        = paginate @jobs

= link_to '', '#', class: 'btn btn-fab btn-raised fa fa-space-shuttle fa-rotate-270 hidden-xs hidden-sm', id: "back-to-top"