%li.list-group-item{:jobid => "#{list.id}", :isremoveable => "#{@isRemoveable != nil && @isRemoveable}"}
  .col-xs-10.col-md-11
    #job-index-list-information
      %span{id: (params[:takenoff] ? 'job-index-list-pay-takenoff' : 'job-index-list-pay')}
        %i.fa.fa-usd
        = list.pay
      %span{id: (params[:takenoff] ? 'job-index-list-location-takenoff' : 'job-index-list-location')}
        %i.fa.fa-map-marker
        = get_location(list)
    #job-index-list-title
      = "［已下架］" if params[:takenoff]
      = link_to list.title, list, remote: true
    #job-index-list-sub-title
      %span
        = "# 更新於 #{time_ago_in_words(list.updated_at)}前 by "
        = link_to "#{list.user.name}", list.user
  .col-xs-2.col-md-1.job-index-list-menu
    %span.text-right
      - if list.user == current_user
        %span{style: "display: none;"}
          = link_to edit_job_path(list.id), id: 'job-index-list-edit', class: 'hideE', data: {toggle:"tooltip", placement:"bottom", container: 'body'}, title: "更新" do
            %span.fa-stack
              %i.fa.fa-circle.fa-stack-2x
              %i.fa.fa-pencil.fa-stack-1x.fa-inverse
          = link_to list, id: 'job-index-list-delete', class: 'hideD',  data: {confirm: "真的不徵了嗎？", toggle:"tooltip", placement:"bottom", container: 'body'}, title: "刪除", method: :delete do 
            %span.fa-stack
              %i.fa.fa-circle.fa-stack-2x
              %i.fa.fa-trash.fa-stack-1x.fa-inverse
        %i#job-index-list-ud.fa.fa-chevron-circle-down
      - else
        = link_to '',
        'javascript:;',
        class: 'fa fa-heart fa-btn' + (list.is_favorite? ? ' unfavorite' : ' favorite'),
        id: "job-index-list-favorite" ,
        jobid: list.id,
        data:{toggle:"tooltip", placement:"bottom", container: 'body'},
        title: (list.is_favorite? ? "從最愛清單中移除!" : "加入最愛!")
      

