.row
  .col-md-8.col-md-offset-2
    .author-avatar-bar
      = image_tag "author/oA.jpg", class: "author-avatar author-avatar-oa", data:{toggle:"tooltip", placement:"top", container: 'body'}, title: 'GeorgioWan'
      = image_tag "author/aiueoH.png", class: "author-avatar author-avatar-aiueoH", data:{toggle:"tooltip", placement:"top", container: 'body'}, title: 'aiueoH'
    %article.about-article.text-center
      %h3
        %strong= "oPartTime"
      %h4= "oPartTime 係由 GeorgioWan 與 aiueoH 共同開發之作品"
      %h4= "此平台提供免費張貼及查找各類型、各地區打工徵才和短期打工資訊"
      %h4= "一起讓尋找打工與徵找人才變得更方便、更快速、更美好！"
      %p= "- 更美好的體驗都在 oPartTime"