.oparttime-landing-header
  .container
    .oparttime-landing-container
      .row
        .col-md-12.text-center
          %h4#oparttime-slogan
            %span#oparttime-slogan-typed
        .col-md-5.col-md-offset-7
          %h2.oparttime-slogan-static{style: "display: none;"}= "兼差‧短期打工‧徵人才"
          
            
          %h4.oparttime-slogan-static{style: "display: none;"}
            = "讓尋找打工與徵找人才變得更方便、更快速、更美好！"
          = link_to '馬上找頭路', jobs_path, class: "btn btn-default btn-raised btn-lg btn-findjobs", style: "display: none"
      .text-center.oparttime-scrolldown.fadeInUp
        = link_to "#here", class: "btn btn-default btn-fab btn-scrolldown" do
          %i.fa.fa-chevron-down
          
.oparttime-landing-introduce
  .container
    .oparttime-landing-container
      %h1#here.animation-element.fadeInUp= "HIHIHIHIHIHIHI"
      %h2.fadeInUp= "HIHIHIHIHIHIHI"
      %h3.fadeInUp= "HIHIHIHIHIHIHI"
      %h4= "HIHIHIHIHIHIHI"
      %h5= "HIHIHIHIHIHIHI"
          
