#page-header
  .row
    .col-md-4.col-md-offset-4.text-center
      %h2
        = '使用條款'
        .badge.last-update{title: "last update"}= "Dec 2015"

%article.well.col-md-10.col-md-offset-1
  %h4
    %strong= '網站合法授權使用'
  %p
    = "　　歡迎您使用「oPartTime」(以下簡稱本網站)，當您進入並使用本網站時，即表示您已同意有關為保障合法或其他目的之系統監視執行；任何非經合法授權使用本網站之行為均可能使您遭致刑事起訴或罰款制裁。"

  %h4
    %strong= '用戶同意接受本「使用條款」'
  %p
    = "　　當您進入並使用本網站，即視同您已同意遵守本「使用條款」與其他有關著作權、版權、商標專用權、網路智慧財產權、隱私權等之法律規定。"

  %h4
    %strong= 'oPartTime 保留權利'
  %p
    = "　　oPartTime 不定時增刪修改網頁資訊內容，或變更網頁服務功能，無需事先或另行通知用戶；亦得不定時修訂本「使用條款」，並於網站張貼時隨即生效，無需事先或另行通知用戶或對用戶負擔任何責任。"
  %p
    = "　　電腦系統與網路通訊相關資源，包括所有電腦設備、週邊系統、伺服器、所有連接之網路、及資料、資訊、報告、相片、圖像、圖表、程式、與相關之儲存媒體如磁帶、磁碟、硬碟、光碟、記憶卡等在內之網站內容之著作權及一切專屬權利均屬於 oPartTime 的財產；用戶進入並使用系統及資訊時，應遵守以下規定："
    %ol
      %li= "用戶不得利用 oPartTime 網站電腦系統、網路通訊相關資源、或提供之服務從事違法之行為；不得藉由本中心網站進行任何恐嚇、誹謗、騷擾、冒犯他人之活動，或其他任何犯罪行為；"
      %li= "oPartTime 網站存用、顯示之資料與內容，包括企業標誌、商標、服務標章等一切智慧財產權屬於「oPartTime」的財產；用戶未經授權不得企圖使用、存取、或使用儲存於本中心系統之資料或程式；亦不得傳播、複製、修改、發佈或傳送；"
      %li= "用戶不得進行任何不利於 oPartTime 、可能對網路正常傳輸造成不利影響的行為；"
      %li= "用戶對 oPartTime 網站或其中提供之資訊不具備任何權利；用戶不得為其他任何目的，以其他任何方式使用本中心網站所提供之資訊或服務。"
      %li= "用戶不得下載、安裝或執行任何足以揭露本公司電腦系統或網路機密資訊之程式；"
      %li= "用戶不得竊取他人於本公司之用戶帳號；不得非法或未授權而取得額外之系統或網路資源；"
      %li= "用戶不得向 oPartTime 網站輸入或上載任何含有病毒、或其他意圖損害、干擾、降低本中心之系統或網路效率或相關之服務品質之電腦程式路徑。"

  %h4
    %strong= '外部網站之連接'
  %p
    = "　　oPartTime 網站可能提供其他網站連結之情形，用戶承認並同意本中心對該等第三方網站之內容、正確性、或有效性，不負任何責任。"

  %h4
    %strong= '違約賠償'
  %p
    = "　　oPartTime 網站可能提供其他網站連結之情形，用戶承認並同意本中心對該等第三方網站之內容、正確性、或有效性，不負任何責任。"

  %h4
    %strong= '其他網站之連結'
  %p
    = "　　用戶違反本使用條款或其他相關之著作權法、民法、刑法法律規定，以致對本中心或其他任何第三者造成損失，用戶同意負擔由此造成之損害賠償責任。"

  %h4
    %strong= '法律管轄'
  %p
    = "　　本「使用條款」適用中華民國法律。"