#page-header
  .row
    .col-md-4.col-md-offset-4.text-center
      %h2
        = '隱私條款'
        .badge.last-update{title: "last update"}= "Dec 2015"

%article.well.col-md-10.col-md-offset-1
  %p
    = "　　非常歡迎您使用「oPartTime」(以下簡稱本網站)，為了讓您能夠安心使用本網站之各項服務與資訊，特此向您說明本網站之隱私權保護政策，請您詳閱下列內容："

  %h4
    %strong= '隱私條款之注意與接受'
  %p
    = "　　使用本網站，即表示您已接受本網站之隱私條款，此隱私條款係由本公司所修改或修訂之權力。因此，請您務必經常檢視此隱私條款，以確保您了解條款內容。此隱私條款係針對本公司經由本公司網站 oparttime.com 所收集之資訊，以及該資訊之用途進行說明。如果對於此隱私條款或您個人資訊之用途或使用本網站所產生之影響有任何問題或建議，請使用 support@oparttime.com 與我們進行聯絡。"

  %h4
    %strong= '本網站所收集之資訊'
  %p
    = "　　使用本網站時，您並不需要提供個人資訊。然而，經由本網站訂閱的某些服務或是填寫產品詢問單或是技術服務詢問單等可能會要求您提供個人資訊，例如姓名、住址、電子郵件或其他連絡資訊。這些個人資訊會用來回應您的要求並傳送電子報。 如同一般網站一樣，伴隨著本網站之使用，我們的網站伺服器可能會自動登錄某些資訊，例如您的網路服務供應商名稱、您所使用電腦的IP位址、您所使用的瀏覽器或作業系統類型、您存取本網站的日期與時間、提供您直接連結至本網站的網站位址、您從本網站所連結之網站位址，以及其它類似的流量相關資訊。我們可能也會收集您和其他訪客的流量模式相關資訊。前述資訊是用來幫助我們改善網站和我們經由網站所提供的服務。我們不會以任何方式利用此類資訊來建立或維護您的個人基本資料，或收集您的個人資訊。一般而言，我們不會向第三方公開從本網站使用所獲得的資訊。然而，本公司保留提供此類資訊給本公司員工、包商、代理商與受指派者之權利，以使其能夠代表本公司執行網站相關之服務 (例如網站管理或維護服務)。我們同時也保留對任何第三方公開此類資訊之權利，並視下列原因之一或全部所要求予以公開：(i) 依照法律；(ii) 遵守法律程序或政府之要求；(iii)為預防、調查、偵查或起訴針對網站或本公司網路之技術完整性的攻擊或侵害；及/或 (iv)為保護 oPartTime、網站使用者、或大眾之權利、財產或安全。"

  %h4
    %strong= 'COOKIE 之使用'
  %p
    = "　　本網站可能包含有使用 [Cookie] 技術之網頁。[Cookie] 可以用來辨識使用者之電腦，但不會辨識或收集使用者的個人資訊。大部分的瀏覽器可以讓您經由變更喜好設定來關閉 [Cookie]，但關閉該項功能後，您可能會無法使用本網站所提供的所有或部分服務。"

  %h4
    %strong= '退出'
  %p
    = "　　如果您不希望繼續收到我們的資料，或希望將您的個人資料自 oPartTime 的資料庫中移除，請使用 support@oparttime.com 與我們進行連絡。或者，當您經由電子郵件或其它通訊方式收到我們的資料時，也可以使用此類通訊方式中的「退出」規定，讓我們知道您不希望繼續收到本公司的此類資訊。"

  %h4
    %strong= '隱私條款修訂'
  %p
    = "　　網際網路及其所提供的優勢正在快速成長，使用網際網路的方式以及相關使用法律也正在以同樣的速度發展。因此，oPartTime 保留於任何時間更新與修訂此隱私條款之權利。您可以由本頁上方的「最近更新」日期，或是使用傳送電子郵件至 support@oparttime.com 的方式，來得知此隱私條款是否已修訂。"

  %h4
    %strong= '其他網站之連結'
  %p
    = "　　本網站可能包含其他網站之連結。請注意，本公司不負責且無法負責其它網站所實施的隱私權方針，且此隱私條款僅適用於本公司經由此網站所收集之資訊。請您務必閱讀所造訪目的地網站的所有隱私權條款。"

  %h4
    %strong= '公共範圍'
  %p
    = "　　例如在 oPartTime 等公共範圍，您能公開張貼您的資料，與別人聯絡，留言或發表用後感，這些資料可能會被其他用家或公司看到或搜尋到，此資料能被閱讀，收集及使用。 如您的留言附有電郵資料，您可能會收到其他人的回覆，我們對他人如何使用您的電郵沒有任何控制權，亦不能控制何等人士能使用您的資料，請注意當使用自發性的留言功能時，您的資料或會被公開和使用。"