!!!
%html
  %head
    %title oPartTime
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
    = display_meta_tags
    %meta{name: "viewport", content: "width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"}
  %body
    .wrap
      = render 'shared/navbar'
      = alertify_notice
      
      #oPartTime-container.container
        = yield

    :javascript
      (function(d,s,id){var z=d.createElement(s);z.type="text/javascript";z.id=id;z.async=true;z.src="//static.zotabox.com/e/1/e1c8dd69643e6f34b1e0455a0d202601/widgets.js";var sz=d.getElementsByTagName(s)[0];sz.parentNode.insertBefore(z,sz)}(document,"script","zb-embed-code"));

    = render 'shared/footer'

