!!!
%html
  %head
    %title oPartTime
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = javascript_include_tag 'https://cdn.rawgit.com/alertifyjs/alertify.js/v1.0.5/dist/js/alertify.js', 'data-turbolinks-track' => true
    = csrf_meta_tags
    %meta{name: "viewport", content: "width=device-width, initial-scale=1.0"}
    %link{:rel => :stylesheet, :type => :"text/css", :href => "http://fonts.googleapis.com/earlyaccess/cwtexhei.css"}
  %body
    = render 'shared/navbar'
    = alertify_notice
    .container
      = yield
